<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.klid.webapp.main.rpt.reportInciPrcsStat.persistence.ReportInciPrcsStatMapper">
	<resultMap type="com.klid.webapp.main.rpt.reportInciPrcsStat.dto.ReportInciPrcsStatDto" id="resultReportList">
		<result property="com_code2" 					column="com_code2"/>
		<result property="name" 					column="code_name"/>
		<result property="y" 					column="cnt"/>
	</resultMap>

    <!-- 시도 그리드 조회 -->
    <select id="selectInciPrcsStat" resultMap="resultReportList">
		<if test="sAuthMain != null and sAuthMain != ''">
			<choose>
				<when test="sAuthMain == 'AUTH_MAIN_2' or sAuthMain == 'AUTH_MAIN_1'">
					SELECT b.com_code2, b.code_name, count(inci_prcs_stat) cnt
					FROM (
					SELECT inci_prcs_stat
					FROM tbzledge D
					WHERE
					EXISTS(
					SELECT sub_cd
					FROM tsminst_leaf tsminst
					WHERE tsminst.sub_cd= d.dmg_inst_cd
					AND inst_cd = #{instCd}
					AND sub_cd NOT IN (
					SELECT com_code2
					FROM COMM_CODE
					WHERE com_code1 = '4002'
					AND code_lvl = '2')
					AND sub_cd  <![CDATA[ <> ]]> 1200000)  AND inci_no LIKE 'CT%'
					AND length(inci_no) <![CDATA[ < ]]> 16 AND
					TO_DATE(${dateType},'yyyymmddhh24miss') BETWEEN TO_DATE(#{startDt},'yyyymmddhh24miss') AND TO_DATE( #{endDt},'yyyymmddhh24miss')
					AND inci_ttl not like '%훈련%'
					AND inci_ttl not like '%확인%'
					AND DMG_INST_CD <![CDATA[ <> ]]> 1100000<!--20190531 피해기관: 중앙지원센터 제외-->
					) a,
					(
					SELECT com_code2, code_name
					FROM comm_code
					WHERE com_code1 = '3001' and code_lvl = '2'
					) b
					WHERE a.inci_prcs_stat(+) = b.com_code2
					GROUP BY b.com_code2, b.code_name
					ORDER BY cnt DESC
				</when>
				<when test="sAuthMain == 'AUTH_MAIN_3'">
					SELECT b.com_code2, b.code_name, count(TRANS_INCI_PRCS_STAT) cnt
					FROM (
					SELECT TRANS_INCI_PRCS_STAT
					FROM tbzledge D
					WHERE 1=1
					AND (
					INCI_TRNS_RCPT_INST_CD IN (
					1100000,
					#{instCd}
					)
					OR INCI_TRNS_RCPT_SIDO_INST_CD IN (
					SELECT
					inst_cd
					FROM
					tsminst
					CONNECT BY
					PRIOR inst_cd = pnt_inst_cd
					START WITH
					inst_cd = #{instCd}
					)
					OR DCL_INST_CD IN (#{instCd})
					)
					AND TO_DATE(${dateType},'yyyymmddhh24miss') BETWEEN TO_DATE(#{startDt},'yyyymmddhh24miss') AND TO_DATE( #{endDt},'yyyymmddhh24miss')
					AND inci_ttl not like '%훈련%'
					AND inci_ttl not like '%확인%'
					AND length(inci_no)=15
					) a,
					(
					SELECT com_code2, code_name
					FROM comm_code
					WHERE com_code1 = '3001' and code_lvl = '2'
					) b
					WHERE a.TRANS_INCI_PRCS_STAT(+) = b.com_code2
					GROUP BY b.com_code2, b.code_name
					ORDER BY cnt DESC
				</when>
				<when test="sAuthMain == 'AUTH_MAIN_4'">
					SELECT b.com_code2, b.code_name, count(TRANS_SIDO_PRCS_STAT) cnt
					FROM (
					SELECT TRANS_SIDO_PRCS_STAT
					FROM tbzledge D
					WHERE 1=1
					AND TO_DATE(${dateType},'yyyymmddhh24miss') BETWEEN TO_DATE(#{startDt},'yyyymmddhh24miss') AND TO_DATE( #{endDt},'yyyymmddhh24miss')
					AND INCI_TRNS_RCPT_SIDO_INST_CD = #{instCd}
					AND inci_ttl not like '%훈련%'
					AND inci_ttl not like '%확인%'
					) a,
					(
					SELECT com_code2, code_name
					FROM comm_code
					WHERE com_code1 = '3001' and code_lvl = '2'
					) b
					WHERE a.TRANS_SIDO_PRCS_STAT(+) = b.com_code2
					GROUP BY b.com_code2, b.code_name
					ORDER BY cnt DESC
				</when>
			</choose>
		</if>
    </select>

</mapper>