/*ie8*/

/* Check-box*/
.br_check_box input[type='checkbox']{ position: relative; left:40px; width: 22px;border:0;}
.br_check_box input[type='checkbox'] + label{display:inline-block; align-items: center; color: #ffffff; transition: color 250ms cubic-bezier(.4,.0,.23,1); width: 22px;margin:0 12px;}
.br_check_box input[type='checkbox'] + label > span{display:none;}  
.br_check_box input[type='checkbox']:checked + label > span{display:none;}
.br_check_box input[type='checkbox']:checked + label > span:before{display:none;} 

.br_con_box .cert_box .cert_icon01 {background-image: url("../images/br_cert_icon_nor.png");}
.br_con_box .cert_box .cert_icon02 {background-image: url("../images/server_cert_icon_nor.png");}
.br_con_box .cert_box .cert_icon03 {background-image: url("../images/del_cert_icon_nor.png");}
.br_con_box .cert_box a:hover .cert_icon01 {background-image: url("../images/br_cert_icon_ovr.png");}
.br_con_box .cert_box a:hover .cert_icon02 {background-image: url("../images/server_cert_icon_ovr.png");}
.br_con_box .cert_box a:hover .cert_icon03 {background-image: url("../images/del_cert_icon_ovr.png");}
    
    
    