@charset "utf-8";

html,body{
    font-family: 돋움;
    width: 100%;
    height: 100%;
}

/*로그인 - 홈페이지 관리자*/
.message_area{
    width: 100%;
    height: 100%;
    position: relative;
}
.message_box{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 200px;
    margin: -100px 0 0 -250px;
}
.message_box h1{
	display: block;
    margin-left: 10px;
	margin-top: -5px;
    height: 23px;
    background: url("../img/error/message_title.png") no-repeat left top;
    text-indent: -5000px;
}
.message_box div.message_div{
    background: url("../img/error/message_back.png");
    position: absolute;
    left: 0px;
    width: 500px;
    top: 21px;
    height: 160px;
	overflow: hidden;
}
.message_box div.message_div div{
    overflow: hidden;
    width: 300px;
	height: 160px;
    background: url("../img/error/message_icon.png") no-repeat 50px 30px;
    vertical-align: middle;
    padding: 35px 0 0 210px;
}
.message_box div.message_div h2,
.message_box div.message_div p,
.message_box div.message_div ul{
    width: 250px;
    margin-bottom: 5px;
}
.message_box div.message_div h2{
    font-size: 14px;
    color: #C00;
}
.message_box div.message_div p{
    font-size: 12px;
}
.message_btn {
    position: absolute;
    top: 95%;
    left: 42%;
}