/**=======================
	로그인
	
	1. 작성자: 강연아
	2. 생성일자: 2015-11-05
	3. 수정일자: 2016-08-25
	   수정일자: 2018-10-16
	   - 기존 css에 분산되어있던 로그인 소스 통합
	   - 로그인 페이지 로고 수정
	   
======================== */
#n_login {
	background: url('../img/login/LoginBg.png') no-repeat;
	width: 100%;
	height: 100%;
	background: url("../img/login/loginBg.png") repeat-x;
}

.familySite{    position: absolute;    right: 25px;    top: 37px; }
.familySite>div{width: 150px; height: 26px; float: left; margin-right: 5px}
.familySite>input{padding: 2px 7px 4px;
    background: #28ada6;
    border: 1px solid #208a85;
    color: #ffffff;
    }

.login_block {
	width: 1280px;
	padding-top: 320px;
	margin: 0 auto;
	background: url("../img/login/login_cloud.png") no-repeat;
}

.login_box {
	margin: 0 auto;
	position: relative;
	width: 537px;
	height: 277px;
	background: url('../img/login/loginBox.png') no-repeat;
	font-family: Malgun Gothic, "맑은고딕;"
}

.login_logo {
	position: absolute;
	top: -50px;
	left: 0;
}

.inputBox2 {
	position: absolute;
	top: 100px;
	left: 195px;
}

.inputBox2  .login_form>div {
	padding-bottom: 8px;
}

.inputBox2  .login_form>div>input {
	width: 158px;
	height: 31px;
	padding-left: 34px;
	border: 1px solid #ccc;
	color: #444;
	font-size: 1em;
}

.login_btn {
	position: absolute;
	top: 0;
	left: 213px;;
}

.login_id {
	position: absolute;
	top: 7px;
	left: 8px;;
}

.login_ps {
	position: absolute;
	top: 51px;
	left: 8px;;
}

.login_sub {
	padding-left: 213px;
}

.login_sub>input {
	width: 80px;
	height: 23px;
	text-align: center;
}

.login_sub>div>a {
	text-decoration: none;
	color: #646464;
	line-height: 22px;
	font-size: 10px;
	text-align: center;
}

.login_copy {
	font-size: 12px;
	color: #888;
	position: absolute;
	width: 300px;
	padding-top: 20px;
	left: -70px;
}

.k_pos {
	position: absolute;
	top: -80px;
	left: 100px
}

.login_logo {
	top: -42px;
	font: normal bold 22px/22px "맑은 고딕", Sans-Serif;
	color:#005e9e;
	letter-spacing:-2px;
}