
/**=======================
	메인
======================== */

body{padding: 0; margin: 0; color: #000000; font-family: Malgun Gothic,"맑은 고딕";}
.jqx-grid-cell { border: none; }	
.jqx-widget-header-ui-hamon{color: #000000;}
a{text-decoration: none;}
a:hover{text-decoration: underline;}
h2{font-size: 14px;}
.tabs .tabs_title_on{ font-family: Malgun Gothic,"맑은 고딕"; color:#fff; font-size:14px; text-align: center; line-height: 35px; background:#036ca5; padding:10px 21px; font-weight: bold;}
.tabs .tabs_title_off{ font-family: Malgun Gothic,"맑은 고딕"; color:#000; font-size:14px; text-align: center; line-height: 35px; background:#e1e1e1; padding:10px 21px; font-weight: bold;}
ul{list-style: none;}
li{list-style: none;}
img{border:0;}

.block_title{padding-top:10px; padding-left: 20px; font-size: 16px; font-weight: bold; font-family: Malgun Gothic,"맑은 고딕"; color:#383838;}
.block_title2{padding-top:60px;; font-size: 16px; font-weight: bold; font-family: Malgun Gothic,"맑은 고딕"; color:#383838; text-align: center;}
.block_title3{width:115px; height:35px; font-size: 14px; font-weight: bold; font-family: Malgun Gothic,"맑은 고딕"; background:#036ca5; color:#fff; cursor: pointer; }
.block_title4{padding-top:80px;; font-size: 16px; font-weight: bold; font-family: Malgun Gothic,"맑은 고딕"; color:#383838; text-align: center;}
.block_title3:hover{background: #015989;}
.off{width:115px; height:35px; font-size: 14px; font-weight: bold; font-family: Malgun Gothic,"맑은 고딕"; background:#f7f7f7; border:1px solid #cccccc; color:#555555;}
.off:hover{background: #e1e1e1;}

/*상단*/
.line4{width:100%; height:4px; background:#0a2268;}

/*visual*/
#wrap{background: url("../img/MainImg/main_bg.png") repeat-x; height:750px;;}
#main_visual{background: url("../img/MainImg/visual_img2.png") no-repeat; height:391px; width:1238px; margin:0 auto; position: relative;}
#Main_title{width: 1197px; margin: 0 auto; position: relative; }
.k_pos{position: absolute; left:0;}
.h1{position: absolute; top:177px; left: 256px;}
.h2{position: absolute; top:290px; left:256px;}

/*container*/
#main_container{width: 1197px;margin: 0 auto; position: relative; }

/*block1*/
#block1{width: 219px; float: left; position: absolute; top:142px;}
#block1 .login{width: 219px; height: 237px; background: #ffffff;  border:1px solid #cccccc; position: relative;}
#block1 .login .login_icon{text-align: center; position: absolute; top:43px; left:70px; }
#block1 .login .text{text-align: center; color:#fff; font-size: 12px; width:100%; position: absolute; top: 145px; }
#block1 .login .text .padding{padding-top: 15px;}
#block1 .login .myInfo{width:90px; text-align: center; position: absolute; top: 193px; left:33px;}
#block1 .login .logoutRight{width:90px; text-align: center; position: absolute; top: 193px; left:97px;}
#block1 .login .logout{width:90px; text-align: center; position: absolute; top: 193px; left:59px;}
#block1 .login .logout .btn-white{font-weight: normal;}
#dayDashboard, #dashboard{width: 219px; height: 174px;  height: 237px; background: #f6f6f6;  border-left:1px solid #cccccc; border-right:1px solid #cccccc; border-bottom:1px solid #cccccc; }
#nightDashboard{width: 219px; height: 174px;  height: 237px; background: #ffffff;  border-left:1px solid #cccccc; border-right:1px solid #cccccc; border-bottom:1px solid #cccccc; }


/*block2*/
#block2{width: 761px; height: 474px;position: absolute; top:380px; left:220px; font-size: 12px; background: #ffffff; color: #000000; cursor:pointer;}
#block2 #joinLine{ height: 237px;width:761px; border-top:1px solid #c2c2c2; border-left:1px solid #c2c2c2; }
#block2 #notice{width: 761px; height: 237px; background:#fff; border-top:1px solid #c2c2c2; border-left:1px solid #c2c2c2; border-bottom:1px solid #c2c2c2;;}
.article { line-height: 23px; position:absolute; left:8px; top:43px; width:740px; border-top :1px solid #036ca5;}
.article2{ line-height: 23px; position:absolute; left:0px; top:37px; width:740px; border-top :1px solid #036ca5; text-align: left; font-size:12px; font-weight: normal;}
#block2 .article2>li:nth-child(1){padding-top:6px;}
#block2 .article>span{ float: right; padding-right: 20px;} 

#block2 #joinLine .join_table{width:740px; margin:43px 9px; /*border-top:1px solid #036ca5;*/}
#block2 #joinLine table{width: 100%; padding-top:35px; border-collapse: collapse;}
#block2 #joinLine .join_top{width:740px; height:33px; margin:0 auto; background: #e8e8e8; border-bottom:1px solid #4297d7;}
#block2 #joinLine th{border-right: 1px solid #c5dbec;}
#block2 #joinLine th:nth-child(5){border:none;}
#block2 #joinLine td{font-size: 12px; color:#000; text-align: center; padding-top: 8px; padding-bottom:5px;}
#block2 #joinLine td:nth-child(1){width:14%;}
#block2 #joinLine td:nth-child(2){width:20%;}
#block2 #joinLine td:nth-child(3){width:20%;}
#block2 #joinLine td:nth-child(4){width:23%;}
#block2 #joinLine td:nth-child(5){width:23%;}

#block2 .more_position{position: relative;}
#block2 .more_1{position: absolute; top:12px; right:10px; font-weight: normal; }
#block2 .more_2{position: absolute; top:20px; right:10px; cursor: pointer;}

/*block3*/
#block3{width: 219px; height: 474px; position: absolute; top:380px; right:0;}
#netisweb, #manual{width: 219px; height: 237px;  background: #ffffff; border-left:1px solid #cccccc; border-right:1px solid #cccccc; border-bottom:1px solid #cccccc;}
#ns_manual, #ns_utility{width: 219px; height: 118px;  background: #ffffff; border-left:1px solid #cccccc; border-right:1px solid #cccccc; border-bottom:1px solid #cccccc;}
#device{width: 219px; height: 237px;  background: #ffffff; border:1px solid #cccccc}
#calendar{margin:5px; width: 209px; height:220px;}
.icon_box{position: relative;}
.dash_icon ,.traffic_icon ,.prefer_icon ,.device_icon{position:absolute; left:60px; top:65px;}
.manual_icon{position:absolute; top:20px; left:80px;}


.btn-white{
	cursor:pointer;
	border:1px solid #b8b8b8; font-size:12px; padding: 4px;
	text-decoration:none; display:inline-block; color: #000;
	 background-color: #f4f5f5; background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f4f4f4));
	 background-image: -webkit-linear-gradient(top, #fff, #f4f4f4);
	 background-image: -moz-linear-gradient(top, #fff, #f4f4f4);
	 background-image: -ms-linear-gradient(top, #fff, #f4f4f4);
	 background-image: -o-linear-gradient(top, #fff, #f4f4f4);}
	 

.btn-white:hover{
cursor:pointer;
 border:1px solid #afafaf;
 background-color: #d9dddd; background-image: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#e8e8e8));
 background-image: -webkit-linear-gradient(top, #f2f2f2, #e8e8e8);
 background-image: -moz-linear-gradient(top, #f2f2f2, #e8e8e8);
 background-image: -ms-linear-gradient(top, #f2f2f2, #e8e8e8);
 background-image: -o-linear-gradient(top, #f2f2f2, #e8e8e8);i
}
.btn-white img{ vertical-align: middle;}


/** 작업일정 캘린더 특정일 스타일 */

.jqx-calendar-cell-specialDate {
    color: #ffffff !important;
    background-color: #036ca5;;
    border: 1px solid #fff;
    margin:0;
    cursor: pointer;
    font-weight: bold;
}
.jqx-widget-header{background:#eaeaea;}
.jqx-calendar tr td:first-child{color:red;}
