/* Notice Popup Overlay */
#notice-popup-overlay {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 5px;
    left: 5px;
    right: auto;
    bottom: auto;
    width: 180px;
    height: 150px;
    z-index: 9999;
    justify-content: center;
    align-items: center;
}
