/* Notice Popup Overlay */
#notice-popup-overlay {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 55px;
    left: 40px;
    right: auto;
    bottom: auto;
    width: 300px;
    height: 200px;
    /*width: 100%;*/
    /*height: 100%;*/
    z-index: 9999;
    justify-content: center;
    align-items: center;
}

/* Notice Popup Container */
#notice-popup {
    font-size: 17px !important;
    background: white;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 335px;
    height: 350px;
    overflow: visible;
    border: #357abd 3px solid;;
}

.notice-ring-container {
    display: flex;
    flex-direction: row;
    width: 160px;
    justify-content: space-between;

    position: relative;
    top: 30px;
}

.notice-ring {
    background: linear-gradient(to right, #fff59d, #fdd835);
    width: 13px;
    height: 50px;
    border-radius: 30px / 100%;
    z-index: 100;
}

/* Popup Header */
.notice-header {
    position: relative;
    top: 15px;
    left: 0;
    background: linear-gradient(to bottom, #3a7bd5, #3a6073);
    padding: 13px;
    color: white;
    width: 245px;
    height: 30px;
    border-radius: 30px / 100%;
}

#notice-popup .notice-header span {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
}

/* Popup Content */
#notice-popup .notice-body {
    padding: 25px 15px 15px 15px;
}

#notice-popup .notice-body h3 {
    margin-top: 0;
    color: #333;
}

#notice-popup .notice-body p {
    line-height: 1.6;
    color: #555;
}

/* Popup Footer */
#notice-popup .notice-footer {
    padding: 15px 30px;
    border-top: 1px solid #e0e0e0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#notice-popup .notice-footer .checkbox-container {
    display: flex;
    align-items: center;
}

.checkbox-container label {
    cursor: pointer;
}

#notice-dont-show-today-btn {
    margin-right: 8px;
    margin-right: 0;
    cursor: pointer;
}

#notice-popup .notice-footer label {
    cursor: pointer;
    font-size: 14px;
    color: #666;
}

#notice-close-btn {
    margin-left: 8px;
    cursor: pointer;
}

/*#notice-close-btn {*/
/*    background: #4a90e2;*/
/*    color: white;*/
/*    border: none;*/
/*    padding: 10px 30px;*/
/*    border-radius: 4px;*/
/*    cursor: pointer;*/
/*    font-size: 14px;*/
/*    font-weight: bold;*/
/*    transition: background 0.3s;*/
/*}*/

/*#notice-close-btn:hover {*/
/*    background: #357abd;*/
/*}*/

/* Responsive Design */
@media (max-width: 600px) {
    #notice-popup {
        max-width: 95%;
    }

    #notice-popup .notice-body {
        padding: 20px;
    }

    #notice-popup .notice-footer {
        flex-direction: column;
        gap: 15px;
        align-items: flex-start;
    }

    #notice-close-btn {
        width: 100%;
    }
}