<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.klid.webapp.main.sec.qnaBoard.persistence.QnaBoardMapper">
  
	<resultMap type="com.klid.webapp.main.sec.qnaBoard.dto.QnaBoardDto" id="getQnaBoardResultMap">
		<result property="bultnNo"				column="BULTN_NO"/>
		<result property="bultnType"			column="BULTN_TYPE"/>
		<result property="bultnTitle"			column="BULTN_TITLE"/>
		<result property="bultnCont"			column="BULTN_CONT"/>
		<result property="readCnt"				column="READ_CNT"/>
		<result property="rcmdCnt"				column="RCMD_CNT"/>
		<result property="regDate"				column="REG_DATE"/>
		<result property="userId"				column="USER_ID"/>
		<result property="organCode"			column="ORGAN_CODE"/>
		<result property="pntOrganCode"			column="PNT_ORGAN_CODE"/>
		<result property="startDt"				column="START_DT"/>
		<result property="endDt"				column="END_DT"/>
		<result property="groupNo"				column="GROUP_NO"/>
		<result property="levelNo"				column="LEVEL_NO"/>
		<result property="orderNo"				column="ORDER_NO"/>
		<result property="cateNo"				column="CATE_NO"/>
		<result property="openScope"			column="OPEN_SCOPE"/>
		<result property="existFile"			column="EXIST_FILE"/>
		<result property="totalReplyCnt"		column="TOTAL_REPLY_CNT"/>
		<result property="totalRcmdCnt"			column="TOTAL_RCMD_CNT"/>
		<result property="isSecret"				column="IS_SECRET"/>
		<result property="useYn"				column="USE_YN"/>
		<result property="pntUserId"			column="PNT_USER_ID"/>
		<result property="htmlYn"				column="HTML_YN"/>
		<result property="groupItemNo"			column="GROUP_ITEM_NO"/>
		<result property="control"				column="CONTROL"/>
		<result property="userName"				column="USER_NAME"/>
		<result property="fileCount"			column="FILECOUNT"/>
        <result property="noticeType"			column="noticeType"/>
        <result property="groupType"			column="groupType"/>
		<result property="parentUserId"			column="parent_user_id"/>
		<result property="rum"					column="rum"/>

		<result property="sidoNm"					column="SIDO_NM"/>
		<result property="instNm"					column="INST_NM"/>
	</resultMap>
	
<!--  게시판 타입으로 리스트 받아오기-->
<select id="getBoardList" resultMap="getQnaBoardResultMap">
    SELECT
		decode(A.group_no, 0, ROW_NUMBER() OVER (PARTITION BY A.group_no ORDER BY A.REG_DATE) ,null) AS rum,
		A.BULTN_NO			,
		A.BULTN_TYPE		,
		A.BULTN_TITLE	    ,
		A.BULTN_CONT,
		A.REG_DATE,
		A.READ_CNT	    	,
		A.RCMD_CNT	    	,
		A.USER_ID	        ,
		A.ORGAN_CODE	    ,
		(SELECT
			CASE
				WHEN (PNT_INST_CD = 1100000 OR PNT_INST_CD = INST_CD OR PNT_INST_CD IS NULL) THEN INST_NM
				ELSE (SELECT INST_NM FROM TSMINST T WHERE T.INST_CD = B.PNT_INST_CD)
			END AS SIDO_NM
		FROM TSMINST B WHERE INST_CD = A.ORGAN_CODE) AS SIDO_NM,
		(SELECT
		CASE
			WHEN (PNT_INST_CD = 1100000 OR PNT_INST_CD = INST_CD OR PNT_INST_CD IS NULL) THEN '본청'
			ELSE INST_NM
		END AS INST_NM
		FROM TSMINST A WHERE INST_CD = A.ORGAN_CODE) AS INST_NM,
		A.PNT_ORGAN_CODE	,
		A.START_DT	    	,
		A.END_DT	        ,
		A.GROUP_NO	    	,
		A.LEVEL_NO	    	,
		A.ORDER_NO	    	,
		A.CATE_NO	        ,
		A.OPEN_SCOPE	    ,
		A.EXIST_FILE	    ,
		A.TOTAL_REPLY_CNT	,
		A.TOTAL_RCMD_CNT	,
		A.IS_SECRET	    	,
		A.USE_YN	        ,
		A.PNT_USER_ID	    ,
		A.HTML_YN	        ,
		A.GROUP_ITEM_NO		,
		A.CONTROL			,
		(
            SELECT	COUNT(*)
            FROM	BULTN_FILE B
            WHERE	A.BULTN_NO =B.BULTN_NO
        ) AS FILECOUNT,
        NVL(A.USER_NAME,
			(SELECT
				B.USER_NAME
			FROM COMM_USER B
			WHERE B.USER_ID = A.USER_ID)
		)                           AS	USER_NAME,
		(select user_id from BULTN D where d.BULTN_NO=a.GROUP_NO) parent_user_id
    FROM
    	BULTN A
    WHERE
           1=1
    AND A.USE_YN = 'Y'
	AND A.BULTN_TYPE = 'qna'
	<if test="sAuthMain != null and sAuthMain != ''">
		<choose>
			<when test="sAuthMain == 'AUTH_MAIN_3'">
				AND A.ORGAN_CODE IN (
					SELECT inst_cd
					FROM tsminst CONNECT BY PRIOR inst_cd = pnt_inst_cd START WITH inst_cd = #{sInstCd}
				)
				OR EXISTS
				(
					select * FROM BULTN where USE_YN = 'Y' AND BULTN_TYPE = 'qna' and bultn_no = A.group_no
					AND  ORGAN_CODE IN (
						SELECT inst_cd
						FROM tsminst CONNECT BY PRIOR inst_cd = pnt_inst_cd START WITH inst_cd = #{sInstCd}
						)
				)
			</when>
			<when test="sAuthMain == 'AUTH_MAIN_4'">
				AND A.ORGAN_CODE IN (
					SELECT inst_cd
					FROM tsminst CONNECT BY PRIOR inst_cd = pnt_inst_cd START WITH inst_cd = #{sInstCd}
				)
				OR EXISTS
				(
					select * FROM BULTN where USE_YN = 'Y' AND BULTN_TYPE = 'qna' and bultn_no = A.group_no
					AND  ORGAN_CODE IN (
						SELECT inst_cd
						FROM tsminst CONNECT BY PRIOR inst_cd = pnt_inst_cd START WITH inst_cd = #{sInstCd}
						)
				)
			</when>
			<otherwise>
				AND 1=1
			</otherwise>
		</choose>
	</if>

	<if test="groupType != null and groupType != ''">
		AND A.GROUP_ITEM_NO = #{groupType}
	</if>
	<if test="title != null and title != ''">
		AND UPPER(A.BULTN_TITLE) LIKE '%' || UPPER(#{title}) || '%'
	</if>
	<if test="bultnCont != null and bultnCont != ''">
		AND UPPER(A.BULTN_CONT) LIKE '%' ||UPPER(#{bultnCont}) || '%'
	</if>
	ORDER BY A.group_no,	A.REG_DATE DESC
           
</select>

<!-- 게시판 조회수 증가 -->
<update id="hitsUpBoard" >
	UPDATE BULTN
	SET
			READ_CNT = NVL(READ_CNT, 0) + 1
	WHERE
			BULTN_NO = #{boardNo}
</update>

<!-- 게시판 번호로 컨텐츠 보기-->
<select id="getBoardContents" resultMap="getQnaBoardResultMap" >
	SELECT
		A.BULTN_NO			,
		A.BULTN_TYPE		,
		A.BULTN_TITLE	    ,
		A.BULTN_CONT,
		A.REG_DATE,
		A.READ_CNT	    	,
		A.RCMD_CNT	    	,
		A.USER_ID	        ,
		A.ORGAN_CODE	    ,
		A.PNT_ORGAN_CODE	,
		A.START_DT	    	,
		A.END_DT	        ,
		A.GROUP_NO	    	,
		A.LEVEL_NO	    	,
		A.ORDER_NO	    	,
		A.CATE_NO	        ,
		A.OPEN_SCOPE	    ,
		A.EXIST_FILE	    ,
		A.TOTAL_REPLY_CNT	,
		A.TOTAL_RCMD_CNT	,
		A.IS_SECRET	    	,
		A.USE_YN	        ,
		A.PNT_USER_ID	    ,
		A.HTML_YN	        ,
		A.GROUP_ITEM_NO		,
		A.CONTROL			,
		(
			SELECT	COUNT(*)
			FROM	BULTN_FILE B
			WHERE	A.BULTN_NO =B.BULTN_NO
		)	AS FILECOUNT,
		NVL(A.USER_NAME,
			(SELECT
			B.USER_NAME
			FROM COMM_USER B
			WHERE B.USER_ID = A.USER_ID)
		)	AS	USER_NAME
	FROM
		BULTN A
	WHERE
		1=1
	AND A.USE_YN = 'Y'
	AND BULTN_NO = #{boardNo}
</select>
	

<!-- 게시판 글쓰고 작성한 글 번호 받아오기 -->
 <insert id="addBoard">
	 <selectKey keyProperty="boardNo" resultType="int" order="BEFORE">
		 SELECT	NVL(MAX(BULTN_NO), 0) + 1 FROM BULTN
	 </selectKey>
	 INSERT INTO BULTN		(
		 BULTN_NO	,
		 BULTN_TYPE	,
		 BULTN_TITLE	,
		 BULTN_CONT,
		 READ_CNT	,
		 RCMD_CNT	,
		 REG_DATE	,
		 USER_ID	,
		 GROUP_NO	,
		 LEVEL_NO	,
		 ORDER_NO	,
		 USE_YN	,
		 END_DT ,
		 CATE_NO,
		 GROUP_ITEM_NO,
	 	 IS_SECRET,
	 	 ORGAN_CODE,
	 	 USER_NAME
	 )
	 VALUES		(
		 #{boardNo},
		 'qna',
		 #{boardTitle},
		 #{boardContent},
		 0,
		 0,
		 TO_CHAR(sysdate, 'YYYYMMDDHH24MISS' ),
		 #{userId},
		 #{groupNo},
		 0,
		 1,
		 'Y',
		 #{endDt},
		 #{cateNo},
		 #{groupItemNo},
	 	 #{isSecret},
	 	 #{organCode},
	 	 #{userName}
	 )

</insert>
<!-- 코멘트 쓰고 작성한 글 번호 받아오기 -->
 <insert id="addComment">
    <selectKey keyProperty="boardNo" resultType="int" order="BEFORE">
		SELECT	NVL(MAX(BULTN_NO), 0) + 1 FROM BULTN
	</selectKey>
	INSERT INTO	 BULTN
	 (
	 	BULTN_NO,
		USER_ID,
		BULTN_TITLE,
		BULTN_CONT,
		BULTN_TYPE,
		REG_DATE,
		GROUP_NO,
		USE_YN,
		LEVEL_NO,
		CATE_NO,
		GROUP_ITEM_NO,
	 	ORDER_NO,
	 	USER_NAME,
	    ORGAN_CODE
	)
	VALUES
	 (
		#{boardNo},
		#{userId},
		#{boardTitle},
		#{boardContent},
	 	'qna',
	 	TO_CHAR(sysdate, 'YYYYMMDDHH24MISS' ),
		#{boardParentNo},
		'Y',
	 	#{levelNo},
	 	#{cateNo},
	 	#{groupItemNo},
	 	#{levelNo},
	    #{userName},
	 	#{organCode}
	 )
</insert>
<!-- 게시판 글 수정하기 -->
 <update id="editBoard">
	UPDATE BULTN
	SET
		BULTN_TITLE = #{boardTitle},
		BULTN_CONT  = #{boardContent},
		REG_DATE 	= TO_CHAR(sysdate, 'YYYYMMDDHH24MISS' )
	WHERE
		BULTN_NO = #{boardNo}
</update>
 
<!-- 게시판 글 삭제하기 -->
<delete id="delBoard">
	UPDATE BULTN SET
	USE_YN = 'N'
	WHERE
			BULTN_NO IN (
							SELECT	BULTN_NO
							FROM		BULTN
							START WITH BULTN_NO = #{boardNo}
							CONNECT BY PRIOR BULTN_NO = GROUP_NO
						)
</delete>

<resultMap type="com.klid.webapp.common.file.dto.AttachfileDto" id="resultAttachfile">
	<result property="fileNo" 			column="FILE_NO"/>
	<result property="fileName" 		column="FILE_NAME"/>
	<result property="originalFileName" column="ORIGINAL_FILE_NAME"/>
</resultMap>

<!-- 게시판 번호로 첨부파일 보기-->
<select id="selectAttachFileList" resultMap="resultAttachfile">
	SELECT
	FILE_NO,
	FILE_NAME,
	ORIGIN_NAME		AS ORIGINAL_FILE_NAME
	FROM BULTN_FILE
	WHERE BULTN_NO = ${boardNo}
</select>


	<resultMap type="com.klid.webapp.main.sec.qnaBoard.dto.QnaBoardDto" id="resultMainQnaList">
		<result property="bultnNo" 			column="BULTN_NO"/>
		<result property="bultnTitle" 		column="BULTN_TITLE"/>
		<result property="regDate"			column="REG_DATE"/>
		<result property="isSecret"			column="IS_SECRET"/>
		<result property="userId"			column="USER_ID"/>
	</resultMap>

	<select id="getMainQnaList" resultMap="resultMainQnaList">
		SELECT
		*
		FROM (
		SELECT
			A.BULTN_NO,
			NVL(A.BULTN_TITLE,' ') AS BULTN_TITLE,
			NVL(TO_CHAR(TO_DATE(A.REG_DATE, 'yyyymmdd HH24MISS'),'YYYY-MM-DD'),' ') AS REG_DATE,
			NVL(A.IS_SECRET,' ') AS IS_SECRET,
			A.USER_ID
		FROM
			BULTN A
		LEFT JOIN TSMINST B ON A.ORGAN_CODE = B.INST_CD
		WHERE
		1 = 1
		AND A.USE_YN = 'Y'
		AND A.BULTN_TYPE = 'qna'
		AND A.LEVEL_NO=0
		AND A.ORGAN_CODE IN (
			SELECT inst_cd FROM tsminst
			CONNECT BY PRIOR inst_cd = pnt_inst_cd
			START WITH inst_cd = #{sInstCd}
		)
		ORDER BY
		A.BULTN_NO DESC
		)WHERE
		ROWNUM <![CDATA[ <= ]]>  #{listSize}
	</select>

</mapper>