<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.klid.webapp.main.mois.dashConfig.persistence.DashConfigMapper">

<resultMap type="com.klid.webapp.main.mois.dashConfig.dto.DashConfigDto" id="resultDashConfigList">
	<result property="workCp1" 			column="WORK_CP1"/>
	<result property="workCp2" 			column="WORK_CP2"/>
	<result property="workCp3"			column="WORK_CP3"/>
	<result property="workPs1"			column="WORK_PS1"/>
	<result property="workPs2" 			column="WORK_PS2"/>
	<result property="workPs3"			column="WORK_PS3"/>
	<result property="workMng1" 		column="WORK_MNG1"/>
	<result property="workMng2" 		column="WORK_MNG2"/>
	<result property="workMng3"			column="WORK_MNG3"/>
	<result property="workCon1" 		column="WORK_CON1"/>
	<result property="workCon2" 		column="WORK_CON2"/>
	<result property="workCon3"	 		column="WORK_CON3"/>
	<result property="attCnt" 			column="ATT_CNT"/>
	<result property="nirsCdM" 			column="NIRS_CD_M"/>
	<result property="nirsCdA" 			column="NIRS_CD_A"/>
	<result property="nirsCdD" 			column="NIRS_CD_D"/>
	<result property="nirsDdM" 			column="NIRS_DD_M"/>
	<result property="nirsDdA" 			column="NIRS_DD_A"/>
	<result property="nirsDdD" 			column="NIRS_DD_D"/>
	<result property="nirsHkM" 			column="NIRS_HK_M"/>
	<result property="nirsHkA" 			column="NIRS_HK_A"/>
	<result property="nirsHkD" 			column="NIRS_HK_D"/>
	<result property="nirsEtM" 			column="NIRS_ET_M"/>
	<result property="nirsEtA" 			column="NIRS_ET_A"/>
	<result property="nirsEtD" 			column="NIRS_ET_D"/>
	<result property="klidCdM" 			column="KLID_CD_M"/>
	<result property="klidCdA" 			column="KLID_CD_A"/>
	<result property="klidCdD" 			column="KLID_CD_D"/>
	<result property="klidDdM" 			column="KLID_DD_M"/>
	<result property="klidDdA" 			column="KLID_DD_A"/>
	<result property="klidDdD" 			column="KLID_DD_D"/>
	<result property="klidHkM" 			column="KLID_HK_M"/>
	<result property="klidHkA" 			column="KLID_HK_A"/>
	<result property="klidHkD" 			column="KLID_HK_D"/>
	<result property="klidEtM" 			column="KLID_ET_M"/>
	<result property="klidEtA" 			column="KLID_ET_A"/>
	<result property="klidEtD" 			column="KLID_ET_D"/>
	<result property="gtAv" 			column="GT_AV"/>
	<result property="gtMax" 			column="GT_MAX"/>
	<result property="ctAv" 			column="CT_AV"/>
	<result property="ctMax" 			column="CT_MAX"/>
	<result property="ssAv" 			column="SS_AV"/>
	<result property="ssMax" 			column="SS_MAX"/>
	<result property="gtRst" 			column="GT_RST"/>
	<result property="ctRst" 			column="CT_RST"/>
	<result property="ssRst" 			column="SS_RST"/>
	<result property="errSvr"	 		column="ERR_SVR"/>
	<result property="errNet" 			column="ERR_NET"/>
	<result property="errStr" 			column="ERR_STR"/>
	<result property="errBak" 			column="ERR_BAK"/>
	<result property="errHom" 			column="ERR_HOM"/>
	<result property="noti1" 			column="NOTI1"/>
	<result property="noti2" 			column="NOTI2"/>
	<result property="secu1" 			column="SECU1"/>
	<result property="secu2" 			column="SECU2"/>
	<result property="crtTime"	 		column="CRT_TIME"/>
	<result property="modTime" 			column="MOD_TIME"/>
	<result property="datTime" 			column="DAT_TIME"/>

</resultMap>

<select id="getDashConfigList" resultMap="resultDashConfigList">
 SELECT
 		NVL(WORK_CP1,' ') AS WORK_CP1,
 		NVL(WORK_CP2,' ') AS WORK_CP2,
 		NVL(WORK_CP3,' ') AS WORK_CP3,
		WORK_PS1,
		WORK_PS2,
		WORK_PS3,
		NVL(WORK_MNG1,' ') AS WORK_MNG1,
		NVL(WORK_MNG2,' ') AS WORK_MNG2,
		NVL(WORK_MNG3,' ') AS WORK_MNG3,
		NVL(WORK_CON1,' ') AS WORK_CON1,
		NVL(WORK_CON2,' ') AS WORK_CON2,
		NVL(WORK_CON3,' ') AS WORK_CON3,
		ATT_CNT,
		NIRS_CD_M,
		NIRS_CD_A,
		NIRS_CD_D,
		NIRS_DD_M,
		NIRS_DD_A,
		NIRS_DD_D,
		NIRS_HK_M,
		NIRS_HK_A,
		NIRS_HK_D,
		NIRS_ET_M,
		NIRS_ET_A,
		NIRS_ET_D,
		KLID_CD_M,
		KLID_CD_A,
		KLID_CD_D,
		KLID_DD_M,
		KLID_DD_A,
		KLID_DD_D,
		KLID_HK_M,
		KLID_HK_A,
		KLID_HK_D,
		KLID_ET_M,
		KLID_ET_A,
		KLID_ET_D,
		GT_AV,
		GT_MAX,
		CT_AV,
		CT_MAX,
		SS_AV,
		SS_MAX,
		NVL(GT_RST,' ') AS GT_RST,
		NVL(CT_RST,' ') AS CT_RST,
		NVL(SS_RST,' ') AS SS_RST,
		ERR_SVR,
		ERR_NET,
		ERR_STR,
		ERR_BAK,
		ERR_HOM,
		NVL(NOTI1,' ') AS NOTI1,
		NVL(NOTI2,' ') AS NOTI2,
		NVL(SECU1,' ') AS SECU1,
		NVL(SECU2,' ') AS SECU2,
		CRT_TIME,
		MOD_TIME,
		DAT_TIME
	FROM
		HM_MOIS_DASH
	WHERE DAT_TIME = TO_DATE(#{datTime},'yyyy-mm-dd')
</select>

<!-- 행안부 대시보드 등록 -->
 <insert id="addDashConfig">
	 INSERT INTO
	 HM_MOIS_DASH (
					 WORK_CP1 ,
					 WORK_CP2 ,
					 WORK_CP3 ,
					 WORK_PS1 ,
					 WORK_PS2 ,
					 WORK_PS3 ,
					 WORK_MNG1 ,
					 WORK_MNG2 ,
					 WORK_MNG3 ,
					 WORK_CON1 ,
					 WORK_CON2 ,
					 WORK_CON3 ,
					 ATT_CNT ,
					 NIRS_CD_M ,
					 NIRS_CD_A ,
					 NIRS_CD_D ,
					 NIRS_DD_M ,
					 NIRS_DD_A ,
					 NIRS_DD_D ,
					 NIRS_HK_M ,
					 NIRS_HK_A ,
					 NIRS_HK_D ,
					 NIRS_ET_M ,
					 NIRS_ET_A ,
					 NIRS_ET_D ,
					 KLID_CD_M ,
					 KLID_CD_A ,
					 KLID_CD_D ,
					 KLID_DD_M ,
					 KLID_DD_A ,
					 KLID_DD_D ,
					 KLID_HK_M ,
					 KLID_HK_A ,
					 KLID_HK_D ,
					 KLID_ET_M ,
					 KLID_ET_A ,
					 KLID_ET_D ,
					 GT_AV ,
					 GT_MAX ,
					 CT_AV ,
					 CT_MAX ,
					 SS_AV ,
					 SS_MAX ,
					 GT_RST ,
					 CT_RST ,
					 SS_RST ,
					 ERR_SVR ,
					 ERR_NET ,
					 ERR_STR ,
					 ERR_BAK ,
					 ERR_HOM ,
					 NOTI1 ,
					 NOTI2 ,
					 SECU1 ,
					 SECU2 ,
					 CRT_TIME ,
					 MOD_TIME ,
					 DAT_TIME
				 )
	      VALUES (
	 				#{workCp1} ,
	 				#{workCp2} ,
	 				#{workCp3} ,
	 				#{workPs1} ,
	 				#{workPs2} ,
					#{workPs3} ,
				    #{workMng1} ,
				    #{workMng2} ,
				    #{workMng3} ,
				 	#{workCon1} ,
					#{workCon2} ,
				 	#{workCon3} ,
				 	#{attCnt} ,
				 	#{nirsCdM} ,
				 	#{nirsCdA} ,
					#{nirsCdD} ,
				 	#{nirsDdM} ,
				 	#{nirsDdA} ,
				 	#{nirsDdD} ,
				 	#{nirsHkM} ,
				 	#{nirsHkA} ,
				 	#{nirsHkD} ,
				 	#{nirsEtM} ,
				 	#{nirsEtA} ,
				 	#{nirsEtD} ,
				 	#{klidCdM} ,
				 	#{klidCdA} ,
				 	#{klidCdD} ,
				 	#{klidDdM} ,
				 	#{klidDdA} ,
				 	#{klidDdD} ,
				 	#{klidHkM} ,
				 	#{klidHkA} ,
				 	#{klidHkD} ,
				 	#{klidEtM} ,
				 	#{klidEtA} ,
				 	#{klidEtD} ,
				 	#{gtAv} ,
				 	#{gtMax} ,
				 	#{ctAv} ,
				 	#{ctMax} ,
				 	#{ssAv} ,
				 	#{ssMax} ,
				 	#{gtRst} ,
				 	#{ctRst} ,
				 	#{ssRst} ,
				 	#{errSvr} ,
				 	#{errNet} ,
				 	#{errStr} ,
				 	#{errBak} ,
				 	#{errHom} ,
				 	#{noti1} ,
				 	#{noti2} ,
				 	#{secu1} ,
				 	#{secu2} ,
				 	SYSDATE ,
				 	'' ,
				 	#{datTime}
				 )
</insert>

<!-- 행안부 대시보드 등록 -->
<update id="editDashConfig">
	UPDATE HM_MOIS_DASH
		SET
			WORK_CP1= #{workCp1},
			WORK_CP2= #{workCp2},
			WORK_CP3= #{workCp3},
			WORK_PS1= #{workPs1},
			WORK_PS2= #{workPs2},
			WORK_PS3= #{workPs3},
			WORK_MNG1= #{workMng1},
			WORK_MNG2= #{workMng2},
			WORK_MNG3= #{workMng3},
			WORK_CON1= #{workCon1},
			WORK_CON2= #{workCon2},
			WORK_CON3= #{workCon3},
			ATT_CNT= #{attCnt},
			NIRS_CD_M= #{nirsCdM},
			NIRS_CD_A= #{nirsCdA},
			NIRS_CD_D= #{nirsCdD},
			NIRS_DD_M= #{nirsDdM},
			NIRS_DD_A= #{nirsDdA},
			NIRS_DD_D= #{nirsDdD},
			NIRS_HK_M= #{nirsHkM},
			NIRS_HK_A= #{nirsHkA},
			NIRS_HK_D= #{nirsHkD},
			NIRS_ET_M= #{nirsEtM},
			NIRS_ET_A= #{nirsEtA},
			NIRS_ET_D= #{nirsEtD},
			KLID_CD_M= #{klidCdM},
			KLID_CD_A= #{klidCdA},
			KLID_CD_D= #{klidCdD},
			KLID_DD_M= #{klidDdM},
			KLID_DD_A= #{klidDdA},
			KLID_DD_D= #{klidDdD},
			KLID_HK_M= #{klidHkM},
			KLID_HK_A= #{klidHkA},
			KLID_HK_D= #{klidHkD},
			KLID_ET_M= #{klidEtM},
			KLID_ET_A= #{klidEtA},
			KLID_ET_D= #{klidEtD},
			GT_AV= #{gtAv},
			GT_MAX= #{gtMax},
			CT_AV= #{ctAv},
			CT_MAX= #{ctMax},
			SS_AV= #{ssAv},
			SS_MAX= #{ssMax},
			GT_RST= #{gtRst},
			CT_RST= #{ctRst},
			SS_RST= #{ssRst},
			ERR_SVR= #{errSvr},
			ERR_NET= #{errNet},
			ERR_STR= #{errStr},
			ERR_BAK= #{errBak},
			ERR_HOM= #{errHom},
			NOTI1= #{noti1},
			NOTI2= #{noti2},
			SECU1= #{secu1},
			SECU2= #{secu2},
			MOD_TIME= SYSDATE
	 WHERE
			DAT_TIME= TO_DATE(#{datTime},'yyyy-mm-dd')
</update>

</mapper>













